.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  place-items: center;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  padding: 15px;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
}
.game {
  width: 50vw;
  height: 80vh;
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-direction: column;
}

.board {
  width: 230px;
  height: 55vh;
  display: flex;
  flex-direction: column;
}
.resultboard {
  width: 150px;
  height: 55vh;
  display: flex;
  flex-direction: column;
}
.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.column1 {
  flex: 33%;
  height: 100%;
  margin: 2px;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #528d4e;
  border: 1px solid black;
}
.column2 {
  flex: 33%;
  height: 100%;
  margin: 2px;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b49f39;
  border: 1px solid black;
}
.column3 {
  flex: 33%;
  height: 100%;
  margin: 2px;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d45e4c;
  border: 1px solid black;
}
.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 2px;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #d45e4c;
}
#blank {
  background-color: black;
}
.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 2px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2px;
}

.key {
  width: 33px;
  height: 45px;
  margin: 1px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 13px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 55px;
}
#disabled {
  border: 1px solid grey;
  background-color: #121212;
}

.lower_section {
  height: 10vh;
}
.bnr {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.reset-btn {
  font-size: 12;
  background-color: rgb(103, 103, 103);
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  align-self: center;

  font-family: Helvetica, Arial, sans-serif;
}
